body {
  background-color:blanchedalmond;
  font-family:'Times New Roman', Times, serif;
}

#lang-suggester {
  margin-top: 50px;
}

.hidden {
  display: none;
}

.btn {
  border: 4px solid black;
  margin-left: 10px;
}

#submit-button {
  background-color: royalblue;
}

#results-here {
  display: none;
  margin-top: 20px;
}